extends layout

block content
  h1 Express-Loit
  p Welcome to my rad blog
  p Sign My Guest Book!
  hr
  form(action="/", method="POST")
    p
      label(for="name") Name *
      input#name(type="text", name="name")
    p
      label(for="email") Email *
      input#email(type="email", name="email")

    textarea#comment(name="comment", cols="70", rows="20")
    p
      input#submit(type="submit", value="Submit Comment")
  h3 Entries  	

  -each entry in entries
    div.entry
      b !{entry.name}
      p !{entry.comment}

