doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    script(src='http://code.jquery.com/jquery-1.11.0.min.js')
    script(src='js/lamescript.js')
    script(src='http://localhost:35729/livereload.js')
  body
    block content